@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Srisakdi&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Srisakdi', cursive;
  font-weight: bold;
}

body {
  background-color: darkred;
  font-size: 1.5rem;
  background-image: url('./assets/paper1.jpg');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/cover2.jpg');
  padding: 4%;
  font-size: 2rem;
}

button {
  padding: 2px 4px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  background-color: rgb(255, 241, 210);
}

button:hover {
  background-color: rgb(224, 206, 167);
}

.logout-wrapper {
  display: flex;
  gap: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 4%;
  font-size: 1.8rem;
}

nav a {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  color: darkgoldenrod;
}

input, select {
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  align-items: center;
  margin-top: 5%;
}

.accordian-item {
  min-width: 90vw;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(100, 60, 0, 0.247);
  border: 1px solid black;
}

.accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordian-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.accordian-title p {
  min-width: 180px;
}
.accordian-header p, .accordian-header button {
  font-size: 2rem;
}

.accordian-expanded {
  display: flex;
  flex-direction: column;
  text-indent: 5%;
  gap: 1rem;
}

.selectedChara {
  background-color: rgb(170, 128, 81);
}

.character-buttons {
  display: flex;
  gap: 1rem;
}

.thinner-text {
  font-weight: normal;
}

.spell-indent {
  margin-left: 5%;
}

.error {
  color: darkred;
  text-align: right;
}

.success {
  color: darkgreen;
  text-align: right;
}

@media (max-width: 800px) {
  .logout-wrapper {
    flex-direction: column;
  }
  .logout-wrapper button {
    width: fit-content;
    align-self: end;
  }
}

@media (max-width: 700px) {
  header {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .accordian-title, .accordian-header p, .accordian-header button, nav, header {
    font-size: 1.1rem;
  }
  input, select, button, body {
    font-size: .9rem;
  }
  header {
    padding: 1%;
  }
  nav {
    margin: 1%;
  }
  .character-buttons {
    gap:.2rem;
  }
  .character-buttons button {
    font-size: .8rem;
  }
  .content-wrapper {
    padding: 2%;
  }
  .accordian-item {
    max-width: 98vw;
    padding: 5px;
  }
  img {
    width: 30px;
  }
}